@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
}

.sidebar {
    background-color: rgb(124, 116, 116);
    width: 10vw;
    height: 83.5vh;
    padding: 4%;
}

.sidebar ul {
    font-size: 2rem;
}

.sidebar ul li {
    margin: 2rem 0rem;
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.main {
    margin: 2vh 2vw;
    width: 75vw;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vh;
    font-style: normal;
    font-family: none;
}

.logo img {
    width: 3vw;
    margin-top: .5vh;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    margin: 2vh 0;
    font-size: 5rem;
}

#github{
    font-family: none;
}

a{
    color:blue;
    text-decoration: none;
}

h3{
    text-align: center;
    color: blue;
    font-weight: bolder;
}

@media screen and (max-width:455px) {

    .content{
        flex-direction: column;
    }

    .sidebar{
        width: 46rem;
        height: 5rem;
 
    }

    .sidebar ul{
        display: flex;
    }

    .sidebar ul li{
        margin-left: 1rem;
    }

    .sidebar ul li a{
        text-decoration: none;
        color: black;
        font-weight:none ;
        font-size: 1.5rem;
    }

    .media{
        align-items: center;
    }

    .main {
        margin: 0 ;
        width: 35rem;
        font-family: "Dancing Script", serif;
        font-optical-sizing: none;
        font-weight: normal;
        font-style: normal;
        font-size: 3.5rem;
        margin-left: 7rem;
    }

    .logo img{
        width: 12vw;
        margin-top: .5vh;
    }
}