@import url("https://use.typekit.net/ygj5abd.css");

* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
}

.sidebar {
    background-color: rgb(124, 116, 116);
    width: 10vw;
    height: 83.5vh;
    padding: 4%;
}

.sidebar ul {
    font-size: 2rem;
}

.sidebar ul li {
    margin: 2rem 0rem;
    list-style: none;
}
.sidebar ul li a{
    text-decoration: none;
    color: black;
    font-weight:500 ;
}

h1{
    font-size:8vh;
    font-weight: bold;
}

.main{
    padding: 3%;
    font-family: "alegreya-sc", serif;
    font-weight: 700;
    font-style: italic;
}

.mb-3{
    margin-top: 4vh;
}

.form-label{
    font-size: large;
}

.mb-3{
    display: flex;
    flex-direction: column;
}
.mb-3 input{
    width: 30vw;
    padding:.3%;
}
.button{
    height: 3.5vh;
    width: 10vw;
    border-radius: 5px;
    margin-top: 1vh;
    cursor: pointer;
    background-color: aquamarine;
    color: black;
}
.button:hover{
    color: aquamarine;
    background-color: black;
}

@media screen and (max-width:455px) {

    .content{
        flex-direction: column;
    }

    .sidebar{
        width: 46rem;
        height: 5rem;
 
    }

    .sidebar ul{
        display: flex;
    }

    .sidebar ul li{
        margin-left: 1rem;
    }

    .sidebar ul li a{
        text-decoration: none;
        color: black;
        font-weight:none ;
        font-size: 1.5rem;
    }



    h1{
        font-size: 3rem;
        width: 45rem;
    }

    .main{
        padding: 10%;
        font-family:normal;
        font-weight:none;
        font-style: none;
    }

    .form-label{
        font-size: 2.5rem;
    }
    
    .mb-3 input{
        width: 25rem;
    }

    .button{
        height: 3.5vh;
        width: 15rem;
        border-radius: 5px;
        margin-top: 1vh;
        cursor: pointer;
        background-color: aquamarine;
        color: black;
    }

}
